[Desktop Entry]
Name=AshuGram
Comment=Ashu's fork of AyuGram Desktop - feature-packed Telegram client
TryExec=AshuGram
Exec=env DESKTOPINTEGRATION=1 AshuGram -- %U
Icon=com.ashu.desktop
Terminal=false
StartupWMClass=com.ashu.desktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=AshuGram -quit
Name=Quit AshuGram
Icon=application-exit
