[Desktop Entry]
Name=Ashu Desktop
Comment=Desktop version of Ashu - ToS breaking Telegram client
TryExec=Ashu
Exec=env DESKTOPINTEGRATION=1 Ashu -- %U
Icon=com.ashu.desktop
Terminal=false
StartupWMClass=Ashu
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Ashu -quit
Name=Quit Ashu
Icon=application-exit
